services:
  server-bot:
    container_name: DiscordServerBot
    image : ghcr.io/dkt69/pangolin-managment-bot:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backups:/app/backups
      - /proc:/host/proc:ro  # Read-only access to proc filesystem
      - /sys:/host/sys:ro    # Read-only access to sys filesystem
      - /root:/root  # Mount the Pangolin root directory. all pangolin files have to be here other wise backup and restore function will not work
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN} #Bot Token
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID} #Application ID
      - DISCORD_GUILD_ID=${DISCORD_GUILD_ID} #Disocrd Guiild ID
      - BACKUP_DIR=/app/backups
      - HOST_PROC=/host/proc  # Point to the mounted proc directory
      - HOST_SYS=/host/sys    # Point to the mounted sys directory
      - TZ=${TZ}
    restart: unless-stopped