services:
  server-bot:
    container_name: pangolin-discord-bot
    image: ghcr.io/dkt69/pangolin-managment-bot:latest
    environment:
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - DISCORD_CLIENT_ID=${DISCORD_CLIENT_ID}
      - DISCORD_GUILD_ID=${DISCORD_GUILD_ID}
      - BACKUP_DIR=/app/backups
      - HOST_PROC=/host/proc # Point to the mounted proc directory
      - HOST_SYS=/host/sys # Point to the mounted sys directory    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backups:/app/backups
      - /proc:/host/proc:ro # Read-only access to proc filesystem
      - /sys:/host/sys:ro # Read-only access to sys filesystem
      - /root:/root:ro # Mount the Pangolin root directory as read-only
    restart: unless-stopped
